.folder-link {
    padding-right: 1rem;
}

a {
    text-decoration: none;
}

.file-upload {
    opacity: 0;
    position: absolute;
    left: -1000px
}

a.button-link {
    text-decoration: none;
}

.profile-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.bp3-heading {
    margin: 0px;
}